@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root
{
    --dark-colour: #242424;
    --pokeball-red: #ee1515;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: white;
    background-color: var(--dark-colour);
}

h1
{
    color: #ffcb05;
    font-size: 3.2em;
    line-height: 1.1;

    margin: 10px auto;
    position: relative;
    width: fit-content;
}

h1::after
{
    content: "Pokédex!";
    -webkit-text-stroke: 10px #2a75bb;
    position: absolute;
    left: 0;
    z-index: -1;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search-bar
{
    margin: 0 auto 50px auto;
    width: 428px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.search-bar label
{
    width: 500px;
    text-align: left;
}
.search-bar input
{
    border-radius: 0;
}

.loading
{
    margin: 0 auto;
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
        radial-gradient(circle at center, rgba(255, 255, 255, 0.2) 40%, transparent 40%, transparent 60%, rgba(0, 0, 0, 0.1) 60%),
        conic-gradient(var(--pokeball-red) 50%, #f0f0f0 50%);
    animation: 2s linear infinite wiggle;
    position: relative;
}
.loading::before
{
    content: '';
    border-left: solid 5px var(--dark-colour);
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.loading::after
{
    content: '';
    background: #f0f0f0;
    border: solid 5px var(--dark-colour);
    border-radius: 50%;
    width: 33%;
    height: 33%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 2s linear infinite alternate flash-red;
}

@keyframes wiggle
{
    0% { transform: rotate(-0.25turn); };
    2% { transform: translateX(5px) rotate(-0.2turn); };
    4% { transform: translateX(10px) rotate(-0.15turn); };
    6% { transform: translateX(5px) rotate(-0.2turn); };
    9% { transform: rotate(-0.25turn); };
    12% { transform: translateX(-5px) rotate(-0.3turn); };
    15% { transform: translateX(-10px) rotate(-0.35turn); };
    18% { transform: translateX(-5px) rotate(-0.3turn); };
    21% { transform: rotate(-0.25turn); };
    25% { transform: translateX(5px) rotate(-0.2turn); };
    29% { transform: rotate(-0.25turn); };
    32% { transform: translateX(-2.5px) rotate(-0.275turn); };
    35% { transform: translateX(-1.25px) rotate(-0.2625turn); };
    38% { transform: rotate(-0.25turn); };
    100% { transform: rotate(-0.25turn); };
}
@keyframes flash-red
{
    from { background-color: #f0f0f0; };
    to
    {
        background-color: red;
        box-shadow: 0 0 20px red;
    };
}

.expander-heading
{
    margin: 10px 0 0 0;
    background: linear-gradient(
        to right,
        #930b0b 4%, #c20f0f 4%, #c20f0f 5%, var(--pokeball-red) 5%,
        var(--pokeball-red) 95%, #c20f0f 95%, #c20f0f 96%, #930b0b 96%
        );
    border-bottom: solid 3px var(--dark-colour);

    font-family: Silkscreen;
    font-weight: normal;
    text-align: left;
    text-shadow: 2px 0 var(--dark-colour), -2px 0 var(--dark-colour), 0 2px var(--dark-colour), 0 -2px var(--dark-colour);
}

.pixel-vignette
{
    position: relative;
    border-top: solid 10px rgba(0, 0, 0, 0.3);
}
.pixel-vignette::before, .pixel-vignette::after
{
    content: '';
    position: absolute;
    z-index: -1;
}
.pixel-vignette::before
{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 5px rgba(0, 0, 0, 0.2);
}
.pixel-vignette::after
{
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: solid 5px rgba(0, 0, 0, 0.1);
}

.grid-background::before
{
    content: '';
    position: absolute;
    z-index: -2;
    top: -10px;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: white;
    background-size: 50px 50px;
    background-position: -1px -1px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}


/* --- POKEMON INFO --- */
.pokemon-info
{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-areas:
        'normal shiny name name'
        'normal shiny types types'
        'normal shiny height-width height-width'
        'stats stats stats stats'
        'level-moves level-moves machine-moves machine-moves';

    font-family: Silkscreen;
}

.pokemon-info h3
{
    grid-area: name;
    place-self: center stretch;

    margin: 10px;
    background-color: var(--pokeball-red);
    border: solid 2px var(--dark-colour);
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);

    font-weight: normal;
    text-align: left;
    text-shadow: 2px 0 var(--dark-colour), -2px 0 var(--dark-colour), 0 2px var(--dark-colour), 0 -2px var(--dark-colour);
}

#normal-sprite
{
    grid-area: normal;
    place-self: center end;
    margin: 28px 2px 2px 2px;
}
#shiny-sprite
{
    grid-area: shiny;
    place-self: center start;
    margin: 28px 2px 2px 2px;
}

#type-list
{
    grid-area: types;
    place-self: center;
}
.type
{
    width: 100px;
    float: left;
    margin: 0 10px;

    background-color: var(--type-color);
    border-left: solid 2px rgba(255, 255, 255, 0.5);
    border-top: solid 2px rgba(255, 255, 255, 0.5);
    border-right: solid 2px rgba(0, 0, 0, 0.5);
    border-bottom: solid 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0 var(--dark-colour), -2px 0 var(--dark-colour), 0 2px var(--dark-colour), 0 -2px var(--dark-colour);

    font-weight: bold;
    text-shadow: 2px 2px var(--dark-colour);
}

#height-weight
{
    grid-area: height-width;
    place-self: center;

    display: grid;
    grid-template-columns: 100px 100px;
    justify-items: start;
    position: relative;
    margin: 10px 10px 25px 10px;
    padding-left: 30px;
    border: solid 2px var(--dark-colour);
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    color: var(--dark-colour);
}
#height-weight::before
{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--pokeball-red) 4%, pink 4%, pink 5%, white 5%);
}
#height-weight::after
{
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
    border-bottom: dotted 2px grey;
}
#height-weight p
{
    margin: 0;
}

#stats
{
    grid-area: stats;
    place-self: center;
    width: 90%;
    margin-bottom: 10px;
}
#radar-container::before
{
    content: '';
    position: absolute;
    z-index: -2;
    top: -10px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
}

#level-up-move-list
{
    grid-area: level-moves;
    place-self: start stretch;
    margin: 0 5px 0 30px;
    text-align: left;
}
#level-up-move-list li
{
    display: grid;
    grid-template-columns: 50px auto;
}

#machine-move-list
{
    grid-area: machine-moves;
    place-self: start stretch;
    margin: 0 30px 0 5px;
    text-align: center;
}

.move-list
{
    margin-bottom: 30px;
    font-family: Silkscreen;
}
.move-list ul
{
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.move-list ul section
{
    scroll-snap-align: start;
}
.move-list ul::before
{
    content: '';
    position: absolute;
    z-index: -2;
    top: -10px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--dark-colour);
}
.move-list li
{
    padding: 5px;
}
.move-list li:nth-child(even)
{
    background-color: rgba(0, 0, 0, 0.25);
}